.container {
  padding-top:200px;
  padding-left: 100px;
 }

 #content {
  height:200px;
  width: 1000px;
  }

  #title {
    height: 40px;
    width: 1000px;
  }

  #writer {
    height: 40px;
    width: 1000px;

  }