* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

caption {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.board_list_wrap {
  padding: 265px;
}

.board_list {
  width: 100%;
  border-top: 2px solid rgb(53, 55, 53);
}

.board_list tr {
  border-bottom: 1px solid #ccc;
}

.board_list th,
.board_list td {
  padding: 10px;
  font-size: 14px;
}

.board_list td {
  text-align: center;
}

.board_list .tit {
  text-align: left;
}

.board_list .tit:hover {
  text-decoration: underline;
}

.board_list_wrap .paging {
  margin-top: 20px;
  text-align: center;
  font-size: 0;
}
.board_list_wrap .paging a {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 12px;
}
.board_list_wrap .paging a:first-child {
  margin-left: 0;
}

.board_list_wrap .paging a.bt {
  border: 1px solid #eee;
  background: #eee;
}

.board_list_wrap .paging a.num {
  border: 1px solid rgb(0, 0, 0);
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.board_list_wrap .paging a.num.on {
  background: rgb(140, 141, 137);
  color: #fff;
}

.write-btn {
  background-color: #c6c6c6; /* 버튼 배경색 */
  border: none; /* 버튼 테두리 없음 */
  color: rgb(0, 0, 0); /* 버튼 글씨색 */
  padding: 10px 20px; /* 버튼 안쪽 여백 */
  text-align: center; /* 버튼 가운데 정렬 */
  text-decoration: none; /* 버튼 밑줄 없음 */
  display: inline-block; /* 버튼을 인라인 블록 요소로 설정 */
  font-size: 13px; /* 버튼 글씨 크기 */
  margin: 10px; /*버튼 간격*/
  /* margin-left: 1200px; 버튼 위치 바꾸가 */
  cursor: pointer; /* 버튼 커서 모양 */
}



section.notice {
  padding: 200px 0;
  padding-top: 50px;
}

.page-title {
  margin-bottom: 60px;
}
/* .page-title h3 {
  font-size: 28px;
  color: #333333;
  font-weight: 400;
  text-align: center;
} */

select {
height: 40px;
}

#board-search .search-window {
  padding: 7px 0;
  background-color: #efefef;
}
#board-search .search-window .search-wrap {
  position: relative;
/*   padding-right: 124px; */
  margin: 0 auto;
  width: 80%;
  max-width: 564px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-search .search-window .search-wrap input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  padding: 7px 14px;
  border: 1px solid #ccc;
}
#board-search .search-window .search-wrap input:focus {
  border-color: #333;
  outline: 0;
  border-width: 1px;
}
#board-search .search-window .search-wrap .btn {
  /* position: absolute; */
  right: 0;
  top: 22px;
  bottom: 0;
  width: 108px;
  height: 40px;
  /* padding: 5px 20px 5px 20px; */
  font-size: 16px;
}

.board-table {
  font-size: 13px;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th, .board-table td {
  padding: 14px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p{
  display: none;
}

.btn {
  display: inline-block;
  padding: 0 30px;
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

.btn-dark {
  background: #555;
  color: #fff;
}

.btn-dark:hover, .btn-dark:focus {
  background: #373737;
  border-color: #373737;
  color: #fff;
}

/* reset */

* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.container {
  /* width: 1100px; */
  margin: 0 auto;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}


