
body {
    width: 1024px;
    margin: 112px auto 0 auto;
}

button {
    cursor: pointer;
}

#btnWrap {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.hide {
    display: none;
}

#btnWrap button {
    float: none;
    width: auto;
    height: 72px;
    margin-right: 24px;
    padding: 0;
    border: none;
    border-bottom: 2px solid #fff;
    background: none;
    font-size: 18px;
    color: rgba(0,0,0,0.38);
}

#btnWrap button.on {
    border-bottom: 3px solid rgb(242,17,76);
    font-weight: bold;
    color: rgb(230,28,81);
}

#container {

}

#container .room {
    overflow: hidden;
    position: relative;
    margin: 0 0 24px 0;
    padding: 24px 24px 24px 424px;
    border: 1px solid rgba(0,0,0,0.08);
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
}

#container .room .img-wrap {
    display: inline-block;
    position: absolute;
    top: 23px;
    left: 23px;
    width: 376px;
    height: 226px;
    cursor: pointer;
}

#container .room .room-text .title {
    display: block;
    height: 37px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
}

#container .room .room-text .info-wrap {
    min-height: 188px;
}
#container .room .room-text .info-wrap .amount-info {
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0;
    border-bottom: none;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

#container .room .room-text .info-wrap .amount-info .amount {
    display: block;
    padding-top: 41px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    height: 35px;
    font-size: 16px;
    line-height: 1;
}

#container .room .room-text .info-wrap .amount-info .won  {
    position: absolute;
    top: 35px;
    right: 0;
    font-size: 18px;
    text-align: right;
}

.info-wrap button {
    background: linear-gradient(to right, rgba(255,0,85,1) 1%,rgba(230,34,67,1) 100%);
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.info {
    margin: 25px auto;
}

.info .icon {
    float: right;
}

#container {
    margin: 25px auto;
}

#info button {
    
    display: block;
    position: relative;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: #fff;
    font-size: 16px;
    line-height: 56px;
    color: rgba(0,0,0,0.87);
    text-align: left;
    cursor: pointer;
}

#info button span {
    position: relative;
}

.detail_info button:after {
    display: inline-block;
    content: "";
    position: absolute;
    top: 50%;
    right: 16px;
    width: 12px;
    height: 8px;
    margin-top: -4px;
    background: #fff url(//image.goodchoice.kr/images/web_v3/ico_arr_3.png) 0 0 no-repeat;
    background-size: 12px auto;
}

  li{
    list-style-type: none;
  }
  
  /* 보여줄 구간의 높이와 넓이 설정 */
  .slideShow{
    width: 500px;
    height: 300px;
    position: relative;
    margin-left: -150px;
    overflow: hidden;   
    /*리스트 형식으로 이미지를 일렬로 
    정렬할 것이기 때문에, 500px 밖으로 튀어 나간 이미지들은
    hidden으로 숨겨줘야됨*/
  }
  
  
  .slides{
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px; /* 슬라이드할 사진과 마진 총 넓이 */
    transition: left 0.5s ease-out; 
    /*ease-out: 처음에는 느렸다가 점점 빨라짐*/
  }
  
  /* 첫 번째 슬라이드 가운데에 정렬하기위해
  첫번째 슬라이드만 margin-left조정 */
  .slides li:first-child{
    margin-left: -32px;
  }
  
  /* 슬라이드들 옆으로 정렬 */
  .slides li:not(:last-child){
    float: left;
    margin-right: 10px;
  }
  
  .slides li{
    float: left;
  }
  
  .controller span{
    position:absolute;
    background-color: transparent;
    color: black;
    text-align: center;
    border-radius: 50%;
    padding: 10px 20px;
    top: 50%;
    font-size: 1.3em;
    cursor: pointer;
  }
  
  /* 이전, 다음 화살표에 마우스 커서가 올라가 있을때 */
  .controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
  }
  
  .prev{
    left: 10px;
  }
  
  /* 이전 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 왼쪽으로 이동하는 효과*/
  .prev:hover{
    /* transform: translateX(-10px); */
  }
  
  .next{
    right: 10px;
  }
  
  /* 다음 화살표에 마우스 커서가 올라가 있을때 
  이전 화살표가 살짝 오른쪽으로 이동하는 효과*/
  .next:hover{
    /* transform: translateX(10px); */
  }

  #container .room .img-wrap:after {
    display: inline-block;
    content: "";
    position: absolute;
    bottom: 16px;
    right: 16px;
    z-index: 10;
    width: 24px;
    height: 24px;
    background: url(../호텔사진/ico_picview.png) 0 0 no-repeat;
    background-size: 24px auto;
  }