/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Header styles */
header {
  background-color: #ff4a4a;
  color: #ffffff;
  padding: 15px;
}

header h1 {
  margin-left: 150px;
}

/* Navigation styles */
nav {
  background-color: #ccc;
  padding: 15px;
}

nav ul {
  list-style: none;
  margin-left: 800px;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

nav ul li a:hover {
  color: #fff;
  background-color: #333;
}

/* Main content styles */
main {
  /* padding: 20px; */
}



/* Footer styles */
footer {
  margin-top: 650px;
  background-color: #ccc;
  color: #333;
  padding: 16px;
  text-align: center;
}


#inlineFrame {
  border: none;
}